<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8">
    <meta http-equiv="content-language" content="zh-tw">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=1">
    <title>Filter - THE F2E</title>
    <link rel="stylesheet" href="https://unpkg.com/normalize.css@8.0.0/normalize.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="stylesheet" href="css/filter.css">
    <script src="https://unpkg.com/vue@2.5.16/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>
    <div class="container" id="app">
        <header>
            <h1 class="logo" href="">Have</h1>
            <input type="text" class="search">
        </header>
        <div class="row">
            <div class="col-12 col-md-3">
                <form>
                    <fieldset class="filter">
                        <h3>選擇地區：</h3>
                        <select v-model="currentZone" @change="changeZone">
                            <option :value="null">全部</option>
                            <option v-for="zone in zoneList" :value="zone">{{ zone }}</option>
                        </select>
                    </fieldset>
                    <fieldset class="filter">
                        <label><input type="checkbox" value="全天候開放" name="filterGroup" v-model="conditions" @change="filteredByConditions">全天候開放</label>
                        <label><input type="checkbox" value="免費參觀" name="filterGroup" v-model="conditions" @change="filteredByConditions">免費參觀</label>
                    </fieldset>
                </form>
            </div>
            <div class="col-12 col-md-9">
                <p>結果：{{ total }}筆</p>
                <ul class="locations">
                    <li class="media" v-for="item in currentResult">
                        <img class="d-flex align-self-start mr-3" :src="item.Picture1" :alt="item.Name">
                        <div class="media-body">
                            <h2 class="mt-0">{{ item.Name }}</h2>
                            <p>{{ item.Description }}</p>
                            <span>{{ item.Opentime }}</span>
                            <span>{{ item.Ticketinfo }}</span>
                            <span>{{ item.Tel }}</span>
                            <span>{{ item.Add }}</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <script>
        let vm = new Vue({
            el: "#app",
            data: {
                locationList: '',
                zoneList: [
                    '楠梓區',
                    '左營區',
                    '鼓山區',
                    '三民區',
                    '苓雅區',
                    '新興區',
                    '前金區',
                    '鹽埕區',
                    '前鎮區',
                    '旗津區',
                    '小港區'
                ],
                currentZone: '',
                currentResult: [],
                conditions: []
            },
            computed: {
                total() {
                    return this.currentResult.length;
                }
            },
            methods: {
                changeZone() {
                    this.conditions = [];
                    this.filteredByZone();
                },
                filteredByZone() {
                    let stepResult = [];
                    if (!this.currentZone) {
                        stepResult = this.locationList;
                    } else {
                        this.locationList.forEach(obj => {
                            if (obj.Zone === this.currentZone) {
                                stepResult.push(obj);
                            }
                        });
                    }
                    this.currentResult = stepResult;
                },
                filteredByConditions() {

                    //let remain = this.todos.filter(obj => obj.completed === false);

                    //1. remain = this.currentResult.filter(obj => obj['Opentime'] === '全天候開放');

                    //2. remian = this.currentResult.forEach(curObj => {
                        // currentResult 的每一筆，找出所有的 key
                        // 找出 value 符合 '全天候開放' 的 key
                        // return Object.keys(curObj).find(key => curObj[key] === '全天候開放');
                        // key 為 Opentime
                    // });

                    //3.this.currentResult.forEach(curObj => {
                        //currentResult 的每一筆，找出所有的 key
                        //找出 value 符合 condition (如：'全天候開放') 的 key 名稱 (如：'Opentime')
                        //this.conditions.forEach(condition => {
                         //   Object.keys(curObj).forEach(key =>   {
                           //     if(curObj[key] === condition){
                             //       remain.push(curObj); // 找出後立刻 push 到一個新陣列，下一輪篩選拿他做 base
                             //   }
                          //  });
                          //  console.log(remain);
                       //  });
                    // });
                    this.filteredByZone();
                    if(this.conditions.length > 0) {
                        let stepResult = this.currentResult;
                        let remain = [];
                        this.conditions.forEach(condition => {
                            stepResult.forEach(curObj => {
                                Object.keys(curObj).forEach(key => {
                                    if (curObj[key] === condition) {
                                        remain.push(curObj);
                                    }
                                });
                            });
                            console.log(remain);
                            stepResult = remain;
                            remain = [];
                        });
                        this.currentResult = stepResult;
                    } else {
                        return;
                    }
                }
            },
            mounted() {
                axios.get('https://data.kcg.gov.tw/api/action/datastore_search?resource_id=92290ee5-6e61-456f-80c0-249eae2fcc97')
                    .then(res => {
                        this.locationList = res.data.result.records;
                        this.currentResult =  res.data.result.records;
                    })
                    .catch(error => console.log(error))
            },
        });
    </script>
</body>

</html>